<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About Us | Furniture Store</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
</head>
<body>
    <!-- About Us Section -->
    {% include 'nav.html' %}
    <div class='top-rare'>
    <section class="about-us-section">
        <div class="about-us-container">
            <h1 class="about-us-header">About Us</h1>
            <p class="about-us-paragraph">Welcome to Furniture Store, where quality meets comfort. We are committed to providing our customers with the finest furniture to create beautiful and functional spaces. Our team of dedicated professionals works tirelessly to bring you the best products and services in the industry.</p>

            <h2 class="about-us-subheader">Core Purpose</h2>
            <p class="about-us-paragraph">To provide a smart, easy, and joyful lifestyle.</p>

            <h2 class="about-us-subheader">Vision</h2>
            <p class="about-us-paragraph">To be the most trusted omni-channel retailer in the home-office improvements segment, trusted by our team, and customers in equal measure.</p>

            <h2 class="about-us-subheader">Mission</h2>
            <p class="about-us-paragraph">Our mission is to sustainably deliver the pleasure and benefits of furniture to as many people as possible. We believe in the power of beautiful spaces and are dedicated to helping you create the perfect environment for your home or office.</p>

            <h2 class="about-us-subheader">Value & Belief</h2>
            <ul class="about-us-list">
                <li>CSR</li>
                <li>Unequivocal excellence in all aspects of the company</li>
                <li>Excellence in reputation</li>
                <li>Continually improve the value of the products and services offered to the customers</li>
                <li>Online and technology-based</li>
                <li>Honesty and integrity</li>
                <li>Encouraging individual initiative and productivity</li>
                <li>Maintain an organizational environment that fosters individual motivation, initiative, and creativity</li>
                <li>Opportunity for everyone based on merit and self-motive</li>
                <li>Continues training for self-improvement</li>
                <li>Demonstrate good citizenship by making contributions to the community</li>
            </ul>

            <h2 class="about-us-subheader">BHAG</h2>
            <ul class="about-us-list">
                <li>To become the IKEA of India</li>
                <li>To become the largest social opportunity provider in the home-office improvement segment</li>
            </ul>

            <h2 class="about-us-subheader">Vivid Description</h2>
            <ul class="about-us-list">
                <li>We will design produce and deliver furniture and interior ideas</li>
                <li>We will integrate different types of retail stores, customer experience centers, and self-motivated enthusiastic marketing individuals and customers through our own online network</li>
                <li>We will have 150 tie-up stores across Kerala</li>
                <li>We will have e-stores in each Gramma Panchayath of Kerala</li>
                <li>We will have experience centers in all regions</li>
                <li>We will have service store franchisees across Kerala</li>
            </ul>

            <h2 class="about-us-subheader">Team Behind XL Cart</h2>
            <h3 class="team-category">Designated Partners (As on 18 Oct 2018)</h3>
            <div class="team-section">
                <div class="team-member">
                    <img src="{% static 'images/1.png' %}" alt="Mohamed Riyas Mattra">
                    <p>Name: Mohamed Riyas Mattra</p>
                    <p>Role: DP, C & MD</p>
                </div>
                <div class="team-member">
                    <img src="" alt="Safa M">
                    <p>Name: Safa M</p>
                    <p>Role: DP</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/2.png' %}"  alt="Alavi KP">
                    <p>Name: Alavi KP</p>
                    <p>Role: DP</p>
                </div>
            </div>

            <h3 class="team-category">PED (Partner Engagement Dept.)</h3>
            <div class="team-section">
                <div class="team-member">
                    <img src="{% static 'images/3.png' %}" alt="Sayed Cheerangan">
                    <p>Name: Sayed Cheerangan</p>
                    <p>Role: President</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/4.png' %}" alt="Mohammed Ali">
                    <p>Name: Mohammed Ali</p>
                    <p>Role: Operation</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/2.png' %}" alt="Alavi KP">
                    <p>Name: Alavi KP</p>
                    <p>Role: Director</p>
                </div>
            </div>

            <h3 class="team-category">Board of Directors</h3>
            <div class="team-section">
                <div class="team-member">
                    <img src="{% static 'images/5.png' %}" alt="Haris VP">
                    <p>Name: Haris VP</p>
                    <p>Role: IT</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/6.png' %}" alt="AT Sharafudheen">
                    <p>Name: AT Sharafudheen</p>
                    <p>Role: HR & Procedure</p>
                </div>
                <div class="team-member">
                    <img src="" alt="Noufal Marakkar">
                    <p>Name: Noufal Marakkar</p>
                    <p>Role: Training & Development</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/7.png' %}" alt="Labeeb">
                    <p>Name: Labeeb</p>
                    <p>Role: Social Media</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/8.png' %}" alt="Abdul Saleem TP">
                    <p>Name: Abdul Saleem TP</p>
                    <p>Role: Product</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/9.png' %}" alt="Mammad Komban">
                    <p>Name: Mammad Komban</p>
                    <p>Role: Registration & Finance</p>
                </div>
                <div class="team-member">
                    <img src="" alt="Nowfal">
                    <p>Name: Nowfal</p>
                    <p>Role: Service Stores</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/10.png' %}" alt="Abdul Hakkeem">
                    <p>Name: Abdul Hakkeem</p>
                    <p>Role: Marketing</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/4.png' %}" alt="Mohammed Ali PK">
                    <p>Name: Mohammed Ali PK</p>
                    <p>Role: Opportunities</p>
                </div>
            </div>

            <h3 class="team-category">Advisory Board</h3>
            <div class="team-section">
                <div class="team-member">
                    <img src="{% static 'images/pk_shamsudheen.png' %}" alt="PK Shamsudheen">
                    <p>Name: PK Shamsudheen</p>
                    <p>Role: Advisory Board</p>
                </div>
            </div>

            <h3 class="team-category">Department Incharge</h3>
            <div class="team-section">
                <div class="team-member">
                    <img src="{% static 'images/aneesh_anandan.png' %}" alt="Aneesh Anandan">
                    <p>Name: Aneesh Anandan</p>
                    <p>Role: Accounts & Tax</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/shaneeb.jpeg' %}" alt="Shaneeb Khan">
                    <p>Name: Shaneeb Khan</p>
                    <p>Role: Website & E-Commerce</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/dilshad.jpeg' %}" alt="Dilshad">
                    <p>Name: Dilshad</p>
                    <p>Role: Social Media</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/11.png' %}" alt="Hashique V">
                    <p>Name: Hashique V</p>
                    <p>Role: Office Incharge</p>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/anees.jpeg' %}" alt="Anees Mambra">
                    <p>Name: Anees Mambra</p>
                    <p>Role: Inventory</p>
                </div>
                <div class="team-member">
                    <img src="" alt="Hussain Mattra">
                    <p>Name: Hussain Mattra</p>
                    <p>Role: Facilitator</p>
                </div>
            </div>

        </div>
    </section>
    </div>
</body>
</html>
